@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* button that links to the ea website to all the packs *@
        <div class="top-row px-4">
            <a href="https://www.ea.com/games/the-sims/the-sims-4/store" target="_blank">All Packs</a>
        </div>

        @* button that links to the ea website to download *@
        <div class="top-row px-4">
            <a href="https://www.ea.com/games/the-sims/the-sims-4" target="_blank">Sims 4 Download</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
